@font-face {
    font-family: "Museo Sans Cyrl";
    src:
        local("MuseoSansCyrl"),
        url("../fonts/MuseoSansCyrl300.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src:
        local("MuseoSansCyrl"),
        url("../fonts/MuseoSansCyrl500.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Evolventa";
    src:
        local("Evolventa"),
        url("../fonts/Evolventa400.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Evolventa";
    src:
        local("Evolventa"),
        url("../fonts/Evolventa700.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 20px;
}

.nav-link {
    position: relative;
    display: inline-block;
    margin: 20px;
    color: rgb(0, 0, 0);
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-weight: 300px;
    padding-bottom: 5px;
}

.nav-link:hover::before {
    left: 0;
    right: 0;
    transition: right 300ms;
}

.nav-link::before {
    background: rgba(0, 0, 0, .702);
    bottom: 0;
    content: "";
    height: 1px;
    left: 100%;
    position: absolute;
    right: 100%;
    transition: right 0s 300ms, left 300ms;
}

.nav-link:last-child {
    margin-right: 0;
}

.social-link img {
    display: inline-block;
    margin: 23px;

}

.socialv-link:last-child img {
    margin-right: 0;
}

.hero-top {
    display: flex;
    justify-content: space-between;
    gap: 41px;
    align-items: center;
}

.hero-left {
    max-width: 612px;
}

.hero-title {
    color: rgb(0, 0, 0);
    font-family: Evolventa;
    font-size: 45px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 46px;
    max-height: 162px;
}

.hero-description {
    color: rgb(0, 0, 0);
    font-family: Evolventa;
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 67px;
    max-width: 545px;
    max-height: 62px;
}

.hero-btn {
    display: inline-block;
    color: rgb(26, 27, 22);
    font-family: Evolventa;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 10px;
    background: rgb(210, 254, 103);
    padding: 20px 182px;
    transition: background .2s;
}

.hero-btn:hover {
    background: #e5ffa5;
}

.hero-right {
    position: relative;
    overflow: hidden;
    height: 40.9375rem;
    padding: 0 2.3125rem;
}

.hero-right::before {
    background: linear-gradient(#fff, transparent);
    top: 0;
}

.hero-right::after {
    background: linear-gradient(0deg, #fff, transparent);
    bottom: 0;
}

.hero-right::after,
.hero-right::before {
    content: "";
    height: 8.75rem;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}

.hero-reviews {
    display: flex;
    gap: 19px;
    align-items: center;
    max-width: 480px;
    margin-bottom: 30px;
    transition: transform .3s;
}

.hero-reviews:hover {
    transform: scale(1.03);
}

.hero-reviews-list {
    animation: y-scroll 90s linear infinite;
}

.hero-reviews:nth-child(2n) {
    flex-direction: row-reverse;
}

.hero-reviews:nth-child(2n) .hero-reviews-content::before {
    left: 0;
}

.hero-reviews:last-child {
    margin-bottom: 0;
}

.hero-reviews-name {
    color: rgb(0, 0, 0);
    font-family: Museo Sans Cyrl;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 6px;
}

.hero-reviews-tariff {
    display: inline-block;
    color: rgb(26, 27, 22);
    font-family: Museo Sans Cyrl;
    font-size: 12px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: rgb(242, 243, 247);
    margin-bottom: 21px;
    padding: 0 5px;
}

.hero-reviews-text {
    color: rgb(0, 0, 0);
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.hero-reviews-content {
    padding: 18px 20px 30px;
    border-radius: 20px;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, .1019607843));
    background: rgb(255, 255, 255);
}

.hero-reviews-content::before {
    background: #fff;
    border-radius: 0 0.5rem 0 0.5rem;
    content: "";
    height: 1.25rem;
    left: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg) skew(-5deg, -5deg);
    width: 1.25rem;
    z-index: -1;
}

@keyframes y-scroll {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(calc(-100% - 30px))
    }
}

.hero-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-card {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    gap: 9px;
    width: 380px;
    height: 99px;
    position: relative;
    color: rgb(26, 27, 22);
    font-family: Museo Sans Cyrl;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}

.hero-card span {
    font-weight: 300;
    
}